@model IEnumerable<Northwind.Models.Categories>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover table-striped" id="grid-data">
    <thead>
        <tr>
            <th data-column-id="category">Category</th>
            <th data-column-id="description">Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody" hidden>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CategoryID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
                </td>
            </tr>
        }
    </tbody>
</table>
