@model IEnumerable<Northwind.Models.Products>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-hover" id="grid-data">
    <thead>
        <tr>
            <th data-column-id="product">Product</th>
            <th data-column-id ="quantity">Quantity/Unit</th>
            <th data-column-id="price">Price</th>
            <th data-column-id="stock">In stock</th>
            <th data-column-id="category">Category</th>
            <th data-column-id="company">Company</th>
            <th data-column-id="discontinued">Discontinued</th>
            <th></th>
        </tr>
    </thead>
    <tbody hidden id="tbody">
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                <td>@Html.DisplayFor(modelItem => item.QuantityPerUnit)</td>
                <td>@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                <td>@Html.DisplayFor(modelItem => item.UnitsInStock)</td>
                <td>@Html.DisplayFor(modelItem => item.Categories.CategoryName)</td>
                <td>@Html.DisplayFor(modelItem => item.Suppliers.CompanyName)</td>
                <td>
                    @if (item.Discontinued)
                    { <span>X</span> }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                </td>
            </tr>
        }
    </tbody>
</table>
