@model IEnumerable<Northwind.Models.Territories>

@{
    ViewBag.Title = "Territories";
}

<h2>Territories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover table-striped" id="grid-data">
    <thead>
        <tr>
            <th data-column-id="territory">Territory</th>
            <th data-column-id="region">Region</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody" hidden>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TerritoryDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Region.RegionDescription)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TerritoryID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TerritoryID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TerritoryID })
                </td>
            </tr>
        }
    </tbody>
</table>