@model Northwind.Models.Orders

@{
    ViewBag.Title = "Edit order";
}

<form role="form" action="javascript:$().postOrderEdit()">
    <div class="form-horizontal">
        <h2>Edit order</h2>

        @Html.ValidationSummary(false)
        @Html.HiddenFor(model => model.OrderID)

        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" id="myTabs">
                <li role="presentation" class="active"><a href="#order" id="order-tab" aria-controls="order" role="tab" data-toggle="tab">Order data</a></li>
                <li role="presentation"><a href="#products" id="products-tab" aria-controls="products" role="tab" data-toggle="tab">Products</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content" id="myTabContent">

                <!-- TAB ORDER -->
                <div role="tabpanel" class="tab-pane active" id="order" aria-labelledby="order-tab">
                    <br />
                    <div class="form-group">
                        <label class="control-label col-md-2" for="CustomerID">Customer</label>
                        <div class="col-md-10">
                            @Html.DropDownList("CustomerID", null, String.Empty, new { @class = "form-control", @required = "", @data_error = "The customer is required to order" })
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="EmployeeID">Employee</label>
                        <div class="col-md-10">
                            @Html.DropDownList("EmployeeID", null, String.Empty, new { @class = "form-control", @required = "", @data_error = "The employee is required to order" })
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Order date</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.OrderDate, new { @htmlAttributes = new { @class = "form-control", @required = "", @data_error = "The order date is required" }, })
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Required date</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.RequiredDate, new { @htmlAttributes = new { @class = "form-control" }, })
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Shipped date</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ShippedDate, new { @htmlAttributes = new { @class = "form-control" }, })
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Ship via</label>
                        <div class="col-md-10">
                            @Html.DropDownList("ShipVia", null, String.Empty, new { @class = "form-control" })
                            <div class="help-block with-errors">If a ship company is selected, all following data is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Freight</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Freight, new { @htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @max = "9999999999", @step = "0.01", @data_error = "Freight is required if a ship via is selected and must be a valid value" }, })
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Ship name</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ShipName, new { @htmlAttributes = new { @class = "form-control", @data_minlength = "5", @data_error = "Ship name is required if a ship via is selected and must have at least 5 characters" }, })
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Ship address</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ShipAddress, new { @htmlAttributes = new { @class = "form-control", @data_minlength = "5", @data_error = "Ship address is required if a ship via is selected and must have at least 5 characters" }, })
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Ship city</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ShipCity, new { @htmlAttributes = new { @class = "form-control", @data_minlength = "3", @data_error = "Ship city is required if a ship via is selected and must have at least 3 characters" }, })
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Ship Region</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ShipRegion, new { @htmlAttributes = new { @class = "form-control", @data_minlength = "2", @data_maxlength = "2,", @data_error = "Ship region is required if a ship via is selected and must have 2 characters" }, })
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Ship postal code</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ShipPostalCode, new { @htmlAttributes = new { @class = "form-control", @pattern = "\\d{5}([ \\-]\\d{4})?", @data_error = "Ship postal code is required if a ship via is selected and must be a valid postal code (12345-1234)" }, })
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Ship country</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ShipCountry, new { @htmlAttributes = new { @class = "form-control", @data_minlength = "3", @data_error = "Ship country is required if a ship via is selected and must have at least 3 characters" }, })
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>

                <!-- TAB ORDER_DETAILS -->
                <div role="tabpanel" class="tab-pane" id="products" aria-labelledby="products-tab">
                    <br />
                    <div class="form-group">
                        <label class="control-label col-md-2">Products</label>
                        <div class="col-md-10">
                            <table class="table table-hover table-striped" id="grid-data-orders-details">
                                <thead>
                                    <tr>
                                        <th data-column-id="id" data-identifier="true" data-type="numeric" data-visible="false">ID</th>
                                        <th data-column-id="name">Name</th>
                                        <th data-column-id="price">Price</th>
                                        <th data-column-id="quantity">Quantity</th>
                                        <th data-column-id="discount">Discount</th>
                                        <th data-column-id="total">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Order_Details)
                                    {
                                        var totalItem = ((float)item.UnitPrice * item.Quantity * (1 - item.Discount));
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.ProductID)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Products.ProductName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Discount)</td>
                                            <td>@{ @( totalItem.ToString("n2")) }</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default btn-success" id="bt-confirm-edit">Save changes</button>
                <span class="btn btn-default btn-danger" onclick="$().cancelOrderForm();">Cancel</span>
            </div>
        </div>
    </div>
</form>

<script>
    $('#grid-data-orders-details').bootgrid();
    $('#grid-data-orders-details-header').prepend('<a class="btn btn-default btn-success edition-link" title="Add product" onclick="$().getOrderCreate();"><span class="glyphicon glyphicon-plus"></span> Add new</a>');

    $(document).ready(function () {
        $('#myTabs a').tab();
    });
</script>