@model IEnumerable<Northwind.Models.Orders>

@{
    ViewBag.Title = "Orders";
}

<p class="create">
    @Html.ActionLink("Create New", "Create")
</p>

<div id="form" hidden>
    @{ Html.RenderPartial("Create", Model); }
</div>


<table class="table table-hover table-striped" id="grid-data-orders" hidden>
    <thead>
        <tr>
            <th data-column-id="id" data-identifier="true" data-visible="false" hidden>ID</th>
            <th data-column-id="date">Date</th>
            <th data-column-id="customer">Customer</th>
            <th data-column-id="employee">Employee</th>
            <th data-column-id="shipper">Shipper</th>
            <th data-column-id="shipaddress">Ship Address</th>
            <th data-column-id="shipcity">Ship City</th>
            <th data-column-id="shipcountry">Ship Country</th>
            <th data-column-id="link" data-formatter="link" data-sortable="false"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td hidden>@Html.DisplayFor(orderItem => order.OrderID)</td>
                <td>@Html.DisplayFor(orderItem => order.OrderDate)</td>
                <td>@Html.DisplayFor(orderItem => order.Customers.CompanyName)</td>
                <td>@Html.DisplayFor(orderItem => order.Employees.FirstName)</td>
                <td>@Html.DisplayFor(orderItem => order.Shippers.CompanyName)</td>
                <td>@Html.DisplayFor(orderItem => order.ShipAddress)</td>
                <td>@Html.DisplayFor(orderItem => order.ShipCity)</td>
                <td>@Html.DisplayFor(orderItem => order.ShipCountry)</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Order details</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->