@model IEnumerable<Northwind.Models.Suppliers>

@{
    ViewBag.Title = "Suppliers";
}

<p class="create">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover table-striped" id="grid-data">
    <thead>
        <tr>
            <th data-column-id="company">Company</th>
            <th data-column-id="contact">Contact</th>
            <th data-column-id="city">City</th>
            <th data-column-id="country">Country</th>
            <th data-column-id="phone">Phone</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody" hidden>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CompanyName)</td>
                <td>@Html.DisplayFor(modelItem => item.ContactName)</td>
                <td>@Html.DisplayFor(modelItem => item.City)</td>
                <td>@Html.DisplayFor(modelItem => item.Country)</td>
                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SupplierID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SupplierID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SupplierID })
                </td>
            </tr>
        }
    </tbody>
</table>
